@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-toolbar {
  background: #004a9f;
  color: white;
  text-align: center;
}

.mat-sidenav {
  margin: 8px;
  width: 200px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: left;
}

.content {
  /*height: calc(100vh - 98px);*/
  border-radius: 10px;
  margin: 8px;
  margin-left: 32px;

  display: flex;
  justify-content: center;
  align-items: Top;

  font-size: 2rem;
  color: black;
}

.mat-sidenav-container {
  height: calc(100vh - 65px);
}

table {
  width: 100%;
}

.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}


.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
